body {
    display:flex;
    justify-content: center;

}
.main {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    /* box-sizing:border-box; */
    /* width: 340px; */
    display:grid;

}

div {
    padding: 0 0;

}