h1 {
    text-align: center;
}
.main {
    display:flex;
    justify-content: center;

}
.main-board {
    width: 700px;
    height: 700px;
    display: grid;
    border: 2px solid black;

}

.grid-div {
    padding: 0 0;

}
.grid-div:hover {
    background-color: red;
}